[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
types-requests = "*"
luigi = "*"
pandas-stubs = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
